# Compiled Object files
*.o
*.obj
*.pyc

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

v5dbg-server/target/*
docs/site/*
docs/lib64/*
docs/lib/*
docs/bin/*
